<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<table class="table table-stripe">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>안녕</td>
        <td>김은비</td>
    </tr>
    </tbody>
</table>

<a class="btn btn-default">글쓰기</a>

</body>
</html>